:root {
    --cardinnerborderlight: 3px solid #AAA;
    --cardinnerborderdark: 3px solid black;
}

/*body{ color: white; background: #583; }*/
.drop_pile {
    background: #8B6;
    color: #DFA;
    border-radius: 6px;
    border: 2px solid #474;
    width: 117px;
    height: 145px;
    position: absolute;
    z-index: 0;
    padding-left: 5px;
    padding-top: 3px;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
}
@keyframes drop_pile_dragging {
    from {background-color: #8B6;}
    to   {background-color: #5A3;}
}
.drop_pile.ui-state-active{
    background: #5A3;
    border: 2px solid #474;
/*    animation-name: drop_pile_dragging;
    animation-duration: .5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;*/
}
.drop_pile.ui-droppable-hover{
    background: #163;
    animation-name: none;
    border: 2px solid #242;
}
.block{ display:block; }
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.ui-widget-content.card {
    border-radius: 4px;
    /* This "shrink-wraps" the card to be as small as its contents */
    display: inline-block;
    border: 2px solid #565;
    text-align: left;
    padding: 2px;
    height: 95px;
    width: 89px;
    margin: 0px;
    background: white;
    /* Add shadows to create the "card" effect */
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5); */
    transition: box-shadow 0.3s;
    position: absolute;
    transform: scale(1);
    transform-origin: top left;
    float: left;
    color: #555;
    padding: 15px 0 0 15px;
    font-size: 45px;
}
.ui-widget-content.card.yellow {
    background: #FFB;
}
.ui-widget-content.card.red {
    background: #FBB;
}
.ui-widget-content.card.blue {
    background: #9CF;
}
.ui-widget-content.card.green {
    background: #BFB;
}
.ui-widget-content.card.unknown.CARD0 {
    background: #5D4;
    background-image: url("/static/images/blitz_icons/pump_stencil.png");
    background-size: contain;
}
.ui-widget-content.card.unknown.CARD0:hover {
    background: #3B2;
    background-image: url("/static/images/blitz_icons/pump_stencil.png");
    background-size: contain;
    cursor: pointer;
}
.ui-widget-content.card.unknown.CARD1 {
    background: #f66;
    background-image: url("/static/images/blitz_icons/buggy_stencil.png");
    background-size: contain;
}
.ui-widget-content.card.unknown.CARD1.mycard:hover {
    background: #D44;
    background-image: url("/static/images/blitz_icons/buggy_stencil.png");
    background-size: contain;
}
.ui-widget-content.card.unknown.CARD2 {
    background: #77f;
    background-image: url("/static/images/blitz_icons/plow_stencil.png");
    background-size: contain;
}
.ui-widget-content.card.unknown.CARD2.mycard:hover {
    background: #44B;
    background-image: url("/static/images/blitz_icons/plow_stencil.png");
    background-size: contain;
}
.ui-widget-content.card.unknown.CARD3 {
    background: #fc0;
    background-image: url("/static/images/blitz_icons/bucket_stencil.png");
    background-size: contain;
}
.ui-widget-content.card.unknown.CARD3.mycard:hover {
    background: #EB0;
    background-image: url("/static/images/blitz_icons/bucket_stencil.png");
    background-size: contain;
}
.ui-draggable {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}
/* On mouse-over, add a deeper shadow */
.ui-draggable:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    cursor: grab;
    border: 2px solid #243;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}


/* When clicked, make the shadow larger as if lifting */
.ui-draggable-dragging {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border: 1px solid #444;
    cursor: grabbing;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}
.ui-widget-content.card.my-card {
    background: #69E;
}
.label {
    position: absolute;
    font-weight: bold;
    color: white;
    font-size: 20px;
}
#LABEL_GAME_OVER { color: red; background: #250; line-height: .8; padding: 3px; }
#LABEL_SCORE { color: white; font-weight: bold;}
