:root {
    --cardinnerborderlight: 3px solid #AAA;
    --cardinnerborderdark: 3px solid black;
}

.ui-widget-content.table-movable {
    color: #DFA;
    background: white;
    border-radius: 6px;
    border: 2px solid #474;
    width: 97px;
    height: 125px;
    position: absolute;
    transition: box-shadow 0.3s;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    white-space: nowrap;
}
.ui-widget-content.Deck {
    background: #9A7;
    opacity: .7;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    overflow-x: hidden;
}
#tooltips-panel {
    position: absolute;
}
#action-button-panel {
    position: absolute;
    white-space: nowrap;
    z-index: 1000000000;
    display: none;
}
#private-hand {
    position: fixed;
    bottom: -100px;
    top: auto !important; /* the "important" prevents the resizing operation from setting top */
    padding-left: 2000px;
    padding-right: 2000px;
    left: -2005px;
    width: 110%;
    height: 300px;
    background: #243;
    z-index: 100000000;
}
#private-label {
    margin-left: 12px;
    margin-top: 5px;
    color: #fc4;
    font-size:17px;
}
#handle {
    width: 110%;
    left: -3px;
    height: 13px;
    top: -13px;
    background: #9b7;
    border-top: 1px solid #242;
}
#other-players-info {
    position: absolute;
    top: -28px;
    height: 14px;
    padding: 4px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-radius: 5px;
    color: #9b7;
    background: #242;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
}
.action-button {
    margin: 1px;
    width: 33px;
    height: 33px;
    padding: 0px;
    background: #242;
    border: 2px solid #132;
    transition: opacity 0s;
}
.action-button svg{
    width: 80%;
    height: 80%;
}
.action-button svg circle,
.action-button svg path{
    fill: white !important;
}
.action-button:hover svg circle,
.action-button:hover svg path{
    fill: black !important;
}
.ui-spinner.ui-widget.ui-widget-content {
    font-size: 14px;
    width: 100px;
    height: 28px;
    margin: -13px 1px 1px 1px;
}
.four-digit-action-spinner {
    width: 36px;
}
.ui-front {
    z-index: 1000000001 !important;
}
.ui-selectmenu-button.ui-button {
    width: 90px !important;
    padding: 7px 0 7px 4px !important;
}
span.ui-selectmenu-text {
    margin: 0px !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.ui-widget-content.card {
    border-radius: 4px;
    display: inline-block;
    border: 2px solid #565;
    text-align: left;
    margin: 0px;
    background: white;
    transition: box-shadow 0.3s;
    position: absolute;
    float: left;
    color: #555;
    font-size: 35px;
    font-weight: bold;
}
.ui-widget-content.viewblocker {
    background: #778;
    border: 4px solid #555;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.7);
}
.ui-widget-content.viewblocker:hover {
    border: 4px solid #333;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.7);
}
/*.ui-draggable {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}*/
/* On mouse-over, add a deeper shadow */
.ui-draggable:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    cursor: grab;
    border: 2px solid #243;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

/* When clicked, make the shadow larger as if lifting */
.ui-draggable.ui-draggable-dragging {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: grabbing;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}
.label {
    position: absolute;
    font-weight: bold;
    color: white;
    font-size: 20px;
}
.rotate1,
.rotate {
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.rotate2 {
    /* Safari */
    -webkit-transform: rotate(180deg);
    /* Firefox */
    -moz-transform: rotate(180deg);
    /* IE */
    -ms-transform: rotate(180deg);
    /* Opera */
    -o-transform: rotate(180deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.rotate3 {
    /* Safari */
    -webkit-transform: rotate(270deg);
    /* Firefox */
    -moz-transform: rotate(270deg);
    /* IE */
    -ms-transform: rotate(270deg);
    /* Opera */
    -o-transform: rotate(270deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.rotate0 {
    /* Safari */
    -webkit-transform: rotate(0deg);
    /* Firefox */
    -moz-transform: rotate(0deg);
    /* IE */
    -ms-transform: rotate(0deg);
    /* Opera */
    -o-transform: rotate(0deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}
ul.ui-tabs-nav.ui-widget-header {
    border: none;
    background: none;
    padding: 0px;
}
li.ui-tabs-tab.ui-corner-top.ui-tab {
    border-width: 1px !important;
    padding: 0px !important;
    margin-bottom: 0px !important;
    font-size: 13px;
}
div.ui-tabs .ui-tabs-panel {
    padding: 0px;
    margin-top: 8px;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    overflow-y: auto;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: .5em .2em !important;
}
#chat-window {
    /* Permanently stuck to left of screen */
    right: 0 !important;
    left: initial !important;
    width: 255px;
    height: 380px;
    z-index: 100000000;
    position: fixed;
    right: 0px;
    top: 4.2%;
    background: #ffa;
    padding: 8px;
    border: 2px solid #663;
    border-radius: 7px;
    display: flex;
    flex-flow: column;
}
#message-box {
    background: #dfc;
    border: 2px inset #afa;
    border-radius: 3px;
    overflow-y: auto;
    width: auto;
    font-size: 12px;
    flex-grow: 1;
    padding-left: 20px;
}
#minimize-button {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    background: #ff4848;
    border-radius: 3px;
    width: 18px;
    height: 18px;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    line-height: 15px;
    color: #ffffab;
    margin: 3px;
    border: 1px solid #a8966c;
}
.quick-message-button {
    padding: 2px;
    margin: 1px;
    border: 1px solid black;
    border-radius: 0;
    background: #577;
}
.loader {
    margin-left: 20px;
    border: 1px solid #dcffcb;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 14px;
    height: 14px;
    -webkit-animation: spin .7s linear infinite; /* Safari */
    animation: spin .7s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.message-time {
    color: gray;
    font-family: "Courier New", Courier, monospace;
    margin-left: -18px;
    display: inline-block; /* to get vertical margin effect */
    margin-top: 10px;
}
.message-name {
    color: #f9f;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}
.message-text {
    color: #000;
    font-size: 15px;
    box-decoration-break: clone; /* Makes the margin apply to each line of a multiline span */
}
#custom-text {
    width: auto;
    min-width: 100px;
}
.player-color-0 {
    font-weight: bold;
    color: #bbf;
}
.player-color-1 {
    font-weight: bold;
    color: #d90;
}
.player-color-2 {
    font-weight: bold;
    color: #0b0;
}
.player-color-3 {
    font-weight: bold;
    color: red;
}
.player-color-4 {
    font-weight: bold;
    color: #a0a;
}
.player-color-5 {
    font-weight: bold;
    color: #000;
}

#instructions-tab {
    background: #dfc;
    border: 2px inset #afa;
    font-family: serif;
}
#instructions-tab h3,
#instructions-tab h2,
#instructions-tab h1 {
    margin: 5px 0 5px 15px;
    color: black;
}
#instructions-tab p {
    margin: 5px 0 5px 0;
    font-size: 16px;
}

.display-name.tooltiptext {
    display: inline-block;
    visibility: hidden;
    max-width: 140px;
    background-color: black;
    color: #eee;
    text-align: center;
    border-radius: 6px;
    padding: 2px 3px;
    position: absolute;
    font-family: Sans-Serif;
    font-size: 11px;
    white-space: initial;
    z-index: 110000000; /* above everything else */
}
/* Make the arrow on the tooltip */
.display-name.tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px; /* keep these two the same to stay centered. Size of the arrow */
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent; /* This makes the arrow shape by only having a top border */
}
.ui-resizable-handle.ui-resizable-sw {
    z-index: -1 !important;
    border-radius: 0 0 0 7px;
    width: 16px;
    height: 16px;
    left: 0px;
    bottom: 0px;
    /* Steal the background image from se */
    background-position: -64px -224px;
}
#hidden-movables {
    display: none;
}
.Dice .image,
.Card .image {
    width: 100%;
    height: 100%;
}
