:root {
    --cardinnerborderlight: 3px solid #AAA;
    --cardinnerborderdark: 3px solid black;
}

/*body{ color: white; background: #583; }*/
.drop_pile {
    background: #8B6;
    color: #DFA;
    border-radius: 6px;
    border: 2px solid #474;
    width: 117px;
    height: 145px;
    position: absolute;
    z-index: 0;
    padding-left: 5px;
    padding-top: 3px;
    font-family: monospace;
    font-size: 16px;
}
#TRASH {
    color: #D22;
    width: 330px;
}
#PLAY {
    color: white;
    width: 190px;
    height: 151px;
}
@keyframes drop_pile_dragging {
    from {background-color: #8B6;}
    to   {background-color: #5A3;}
}
.drop_pile.ui-state-active{
    background: #5A3;
    border: 2px solid #474;
    animation-name: drop_pile_dragging;
    animation-duration: .5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.drop_pile.ui-droppable-hover{
    background: #163;
    animation-name: none;
    border: 2px solid #242;
}
.block{ display:block; }
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.ui-widget-content.card {
    border-radius: 4px;
    /* This "shrink-wraps" the card to be as small as its contents */
    display: inline-block;
    border: 3px solid #68A;
    text-align: center;
    padding: 2px;
    height: 107px;
    margin: 0px;
    background: white;
    /* Add shadows to create the "card" effect */
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5); */
    transition: box-shadow 0.3s;
    position: absolute;
    transform: scale(1);
    transform-origin: top left;
}
.ui-draggable {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}
/* On mouse-over, add a deeper shadow */
.ui-draggable:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    cursor: grab;
    border: 3px solid #469;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}


/* When clicked, make the shadow larger as if lifting */
.ui-draggable-dragging {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border: 1px solid #444;
    cursor: grabbing;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}

.ui-widget-content.card.shrink-trash {
    transform: scale(.33);
    transition: transform .4s;
}
.ui-widget-content.card.shrink-play {
    transform: scale(.5);
    transition: transform .4s;
}
.ui-widget-content.card.my-card {
    background: #69E;
}

.cardtopleft{
/*    border-right: var(--cardinnerborderlight);
    border-bottom: var(--cardinnerborderlight); */
    height:60px;
    width:50px;
    /* to vertically center text */
    line-height:70px;
    float: left;
    color: #AAA;
    font-size: 45px;
    margin-right: 3px;
}
.cardtopright{
    height:60px;
    width:50px;
    /* to vertically center text */
    line-height:70px;
    color: #AAA;
    margin-left: 53px;
    font-size: 45px;
}
.known{
    color: black;
}
.cardtopleft:hover{
    color: black;
}
.cardtopright:hover{
    color: black;
}
.cardbottom{ 
    text-align: center;
    height:43px;
    margin-top: 5px;
}

/* the first class is to increase css specificity ;) */
.ui-widget-content.active-player-indicator{
    position:absolute;
    border: 3px solid #d22;
    border-radius: 8px;
    background: #583;
    z-index: 0;
    width: 658px;
    height: 157px;
    left: 25px;
    top: 75px;
    box-shadow: 0 0 0 0; 
}
.ui-widget-content.active-player-indicator.my-turn{
    /*background: #D22;*/
}

.label {
    position: absolute;
    font-weight: bold;
    color: white;
    font-size: 20px;
}
#LABEL_CLUES { color: #ACE; }
#LABEL_STRIKES { color: #EAA; }
#LABEL_GAME_OVER { color: red; }
