html, body {
  height: 100%;
  margin: 0;
  background: #487848;
}
.content {
  padding: 20px;
  min-height: 100%;
  /*margin: 0 auto -50px;*/
  margin: auto 10px;
  background: #685;
  border: 2px solid #453;
  border-radius: 15px;
  color: #ffd;
  font-family: sans-serif;
  position: relative; /* Just so descendants can position: absolute */
}
.flash_messages {
    background: #9d7;
    padding: 20px;
    margin: 10px;
    border: 2px solid #453;
    border-radius: 8px;
    font-weight: bold;
    font-size: 19px;
    list-style-type: none;
}
.set_min_width {
    /* To be changed by the js on different pages */
    min-width: 925px;
}
h1 {
    color: #ff8;
    margin-top: 0;
    font-family: serif;
}
h2 {
    color: #ffa;
    font-family: serif;
}
hr {
    border: 1px solid #600;
}
.footer,
.push {
  height: 50px;
}
.header {
    padding: 10px;
    color: #800;
    font-size: 22px;
}
.header span {
    margin: 20px;
    color: #FC4;
}
.header a {
    color: #FC4;
    text-decoration:none;
    font-weight:bold;
}
.header a:hover {
    text-decoration:underline;
    transition-duration: .4s;
}
input[type=text] {
    background: #bca;
    border: 2px inset #685;
    border-radius: 4px;
    padding: 3px;
    color: #020;
}
input[type=submit]{
    background: #472;
    color: white;
    border: 2px solid #472;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
}
input[type=submit]:hover{
    background: #9C8;
    color: #253;
}
