{% extends "header_footer.html" %}
{% block head %}
<script>
function yourFunction(){
    var action_src = "https://games.kenakofer.com/" + document.getElementsByName("gameid")[0].value;
    var your_form = document.getElementById('your_form');
    your_form.action = action_src ;
}
</script>
{% endblock %}
{% block content %}
    <p>
    {{ message }}
    </p>
    <h1>Play Dutch Blitz</h1>
    <p>You can create or join a game of Dutch Blitz from here. You can make up a game room, but you and your friends must use the same game room to play with each other. Powerusers will note that you can bypass this page by directly visiting a url in the format below.</p>
    <div align="center">
    <form onSubmit="this.action='https://games.kenakofer.com/blitz/'+this.gameid.value">
        <b>games.kenakofer.com / <input type="text" id="gameid" placeholder="game room"> ?num= <input type="text" name="num" placeholder="# of players"> &AI= <input type="text" name="AI" placeholder="# of whom are Amish Invites"></b><br>
        <input type="submit" value="Go to game">
    </form>
    </div>

    <hr>
    <h1>Dutch Blitz Rules</h1>
    <p>
    Drag cards from your QUEUE and DUMP piles into the play area, where you can build stacks that start with 1 and go to 10 in each color. Click on your deck to deal 3 cards at a time into your dump. When the deck is gone, you can click on the DECK space again to put the dump cards back.
    <p>The game is over when one of the players has depleted the pile at the left of their queue. Your score is the number of cards you played minus 2 times the number of cards left in this pile.</p>
    <p></p>

{% endblock %}
