<html>
    <head>
        <link rel='stylesheet' href='{{ url_for("static",filename="styles/styles.css") }}'>

        {% if title %}
        <title>{{ title }} - games.gc.my </title>
        {% else %}
        <title>games.gc.my</title>
        {% endif %}
        {% block head %}{% endblock %}
    </head>
    <body>
        <header class='header set_min_width'>
            <span><a href='/'>Games.gc.my</a></span>|
            <!--<span><a href='/pagecount'>PageCount</a></span>|-->
            <span><a href='/hanabi'>Hanabi</a></span>|
            <span><a href='/blitz'>Dutch Blitz</a></span>|
            <span><a href='/freeplay'>Freeplay</a></span>|
            <span><a href='/onion_ninja'>Onion Ninja</a></span>
            <span style='float:right;'>
                {% if current_user.is_anonymous %}
                <a href="/login">Login</a>
                {% else %}
                Hello, <b>{{ current_user.fullname }}</b>
                <a href="/logout" style="color:#ffc;">Logout</a>
            {% endif %}
            </span>
            <hr>
        </header>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class='flash_messages set_min_width'>
                    {% for message in messages %}
                        <li>{{message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        <div class='content set_min_width'>
            {% block content %}{% endblock %}
            <div class='push'></div>
        </div>
        {% block footer %}{% endblock %}
        <footer class='footer'>
            Footer
        </footer>
    </body>
</html>
