{% extends "header_footer.html" %}
{% block head %}
    <script src="//cdn.jsdelivr.net/npm/phaser@3.22.0/dist/phaser.min.js"></script> 
    <script type="text/javascript" src='{{ url_for("static",filename="js/md5.js") }}'></script>
    <script type="text/javascript" src='{{ url_for("static",filename="js/cold_waters.js") }}'></script>
    <!-- For template variables needed by cold_waters.js -->
    <script type="text/javascript">
        var user_name = "{{ user_name }}";
        var user_id = "{{ user_id }}";
    </script>
{% endblock %}
{% block content %}

    <div id='game_div'></div>

{% endblock %}
