<html>
<head>
    <link rel='stylesheet' href='{{ url_for("static",filename="styles/styles.css") }}'>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.22.0/dist/phaser.min.js"></script> 
    <script type="text/javascript" src='{{ url_for("static",filename="js/md5.js") }}'></script>
    {% if experimental %}
        <script type="text/javascript" src='{{ url_for("static",filename="js/cold_waters_experimental.js") }}'></script>
    {% else %}
        <script type="text/javascript" src='{{ url_for("static",filename="js/cold_waters.js") }}'></script>
    {% endif %}
    <!-- For template variables needed by cold_waters.js -->
    <script type="text/javascript">
        var user_name = "{{ user_name }}";
        var user_id = "{{ user_id }}";
    </script>
    <meta name="viewport" content="initial-scale=1.0" />

<style> 
* {
    margin: 0;
    padding: 0;
}
canvas {
    border: 3px solid black;
}
</style> 
</head>
<body>
    <div id='game_div'></div>
</body>
