{% extends "header_footer.html" %}

{% block head %}
    <link rel='stylesheet' href='{{ url_for("static",filename="styles/freeplay.css") }}'>
    <!-- for symbola font -->
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/symbola" type="text/css"/> 
    <!-- For jquery and jquery ui-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <!-- For knockout.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    <!-- For LoDash (_) -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
    <!-- For socket stuff -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
    var socket = io("https://games.gc.my{{ socketio_namespace }}")
            // Code to enable use of "*" as catch all event without blocking other calls
            var onevent = socket.onevent;
            socket.onevent = function (packet) {
                var args = packet.data || [];
                onevent.call (this, packet);    // original call
                packet.data = ["*"].concat(args);
                onevent.call(this, packet);      // additional call to catch-all
            };
            // Note that this is run AFTER a more specific event handler
            socket.on("*",function(event,data) {
                console.log('Server event: '+JSON.stringify(event)+'\n    has data:');
                console.log(data);
            });
    </script>
    <!-- For template variables needed by freeplay.js -->
    <script type="text/javascript">
        var template_gameid = "{{ gameid }}";
        var template_player_index = {{ player_index }};
    </script>
    <!-- freeplay.js, the primary logic for the client -->
    <script type="text/javascript" src='{{ url_for("static",filename="js/freeplay.js") }}'></script>


{% endblock %}

{% block content %}
    <h1>Free Play</h1>
    <div data-bind="foreach: public_movables">
        <div data-bind="attr:{'class':'deck droppable noselect ui-widget-content', id:id}, css: type">
            <span data-bind="if: type()!='Card'">
                <span data-bind="text: full_display_name()"></span>
            </span>
        </div>
    </div>
    <div id="action-button-panel"><!--
        --><input id="deal-spinner" class='two-digit-action-spinner' title="How many cards to deal" value=5></input><!--
        --><button id="deal-button" title="Deal out cards" class='action-button'>➡</button><br><!--
        --><button id="destroy-button" title="Permanently delete" class='action-button'>🚫</button><!--
        --><button id="flip-button" title="Flip over" class='action-button rotate'>↩</button><!--
        --><button id="BUTTONSHUFFLE" title="Shuffle" class='action-button'>🔀</button><!--
        <!-- <select id="deal-select"><option>same face</option><option>face up</option><option>face down</option></select> -->
        <!-- <input id="pco-x-spinner" class='four-digit-action-spinner' value=3></input> -->
        <!-- <input id="pco-y-spinner" class='four-digit-action-spinner' value=2></input> -->
    </div>
{% endblock %}

{% block footer %}
<div id="private-hand" class='resizable'>
    <div id='other-players-info' data-bind="html: other_players_info_text()"></div>
    <div id='handle' class="ui-resizable-handle ui-resizable-n"></div>
    <div id='private-label' data-bind="text: private_hand_label_text()"></div>
    <div data-bind="foreach: my_private_movables">
        <div data-bind="attr:{'class':'deck droppable noselect ui-widget-content', id:id}, css: type">
            <span data-bind="if: type()!='Card'">
                <span data-bind="text: full_display_name()"></span>
            </span>
        </div>
    </div>
    <div id='chat-window' class='ui-widget-content'>
        <div id='message-box'></div>
        <div data-bind="foreach: quick_messages"><button class='quick-message-button' data-bind="text: $data, click: function(data, event){send_message(data)}"></button></div>
        <input type="text" id="custom-text" placeholder="Type here, then press Enter to send"/>
    </div>
</div>
{% endblock %}
