{% extends "header_footer.html" %}

{% block head %}
    <link rel='stylesheet' href='{{ url_for("static",filename="styles/hanabi.css") }}'>

    <!-- For jquery ui-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <!-- For knockout.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>

    <script>
    // This is a simple *viewmodel* - JavaScript that defines the data and behavior of your UI
    $( document ).ready(function() {
        function Card(id, position, letter, number){
            var self = this;
            self.card_id = ko.observable(id);
            self.card_position = ko.observable(position);
            self.card_letter = ko.observable(letter);
            self.card_number = ko.observable(number);
        };
        function AppViewModel() {
            var self = this;
            self.cards = ko.observableArray([
                new Card(0, 'P1C1', 'B', 3),
                //new Card(1, 'P1C2', '', 1),
                //new Card(2, 'P1C3', 'B', ''),
                //new Card(3, 'P1C4', '', ''),
                //new Card(4, 'P1C4', 'A', '5'),
            ])
            /* 
            self.fullName = ko.computed(function() {
                return self.card_letter() + self.card_number();
            }, this);
            */ 
            /*
            self.capitalize_letter = function() {
                var currentVal = self.card_letter();
                self.card_letter(currentVal.toUpperCase());
            };    
            */
        }
        var apm = new AppViewModel()
        // Activates knockout.js
        ko.applyBindings(apm);

        // For socket events
        socket.on('CARD DATA', function(data) {
          which_card = apm.cards()[data.card_id]
          if (!which_card){
            console.log("No such card: "+data.card_id);
            return;
          }
          for (field in data){
              console.log('setting field '+field)
              which_card[field](data[field]);
          }
        });

        socket.on('CARD MOVE', function(data) {
            cid = data.card_id
            position = $("#"+data.table_pos).position()
            console.log('Moving card...')
            draggable = $("#"+data.card_id)
            console.log(draggable)
            console.log(position)
            draggable.animate(
                    {left:position.left+6, top:position.top+20},
                    {duration:500}
                    );
            if (data.table_pos == "trash")
                draggable.draggable('destroy')

        });

        // For draggability
        $( function() {
          $( ".draggable" ).draggable({revert: "invalid", stack:".draggable" });
        } );
	$( ".droppable" ).droppable({
	  classes: {
	    "ui-droppable-active": "ui-state-active",
	    "ui-droppable-hover": "ui-state-hover",
	  },
            drop: function( event, ui ) {
                card_id = ui.draggable.context.id;
                place_id = event.target.id;
                message = "I dropped "+card_id+" in place "+place_id;
                console.log(message);
                //console.log(event);
                //console.log(ui);
                socket.emit("CARD MOVE", {card_id: card_id, place_id: place_id});
            }
	});
    });
    </script>
{% endblock %}

{% block content %}
    <div data-bind="foreach: cards">
        <div class="card noselect ui-widget-content draggable" style='top:600;' data-bind="attr: {'id': 'card'+card_id()}"> 
            <div class="cardtopleft" data-bind="text: $data.card_letter"></div>
            <div class="cardtopright" data-bind="text: $data.card_number"></div>
            <div class="cardbottom">Could be:</div>
        </div>
    </div>
    <div class="drop_pile droppable" id='P1C1', style='left:30;top:80' >P1C1</div>
    <div class="drop_pile droppable" id='P1C2', style='left:200;top:80'>P1C4</div>
    <div class="drop_pile droppable" id='P1C3', style='left:370;top:80'>P1C4</div>
    <div class="drop_pile droppable" id='P1C4', style='left:540;top:80'>P1C4</div>
    <div class="drop_pile droppable" id='trash' style='left:30;top:270'>
        Trash
    </div>
{% endblock %}
