{% extends "header_footer.html" %}
{% block head %}
<link rel='stylesheet' href='{{ url_for("static",filename="styles/hanabi.css") }}'>    
<!-- For draggable divs -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
  #draggable { width: 150px; height: 150px; padding: 0.5em; }
</style>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    $( ".draggable" ).draggable({revert: true, stack:".draggable" });
  } );
</script>
{% endblock %}

{% block content %}
<div class="card noselect ui-widget-content draggable"> 
    <div class="cardtopleft cardtopleftknown">B</div>
    <div class="cardtopright"></div>
    <div class="cardbottom">Could be:</div>
</div>
<div class="card noselect ui-widget-content draggable"> 
    <div class="cardtopleft"></div>
    <div class="cardtopright cardtoprightknown">5</div>
    <div class="cardbottom">Could be:</div>
</div>
{% endblock %}
