<html>
    <head>
        <link rel='stylesheet' href='{{ url_for("static",filename="styles/styles.css") }}'>
        <!-- For socket stuff -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
var socket = io("https://games.gc.my{{ socketio_namespace }}")
        // Code to enable use of "*" as catch all event without blocking other calls
        var onevent = socket.onevent;
        socket.onevent = function (packet) {
            var args = packet.data || [];
            onevent.call (this, packet);    // original call
            packet.data = ["*"].concat(args);
            onevent.call(this, packet);      // additional call to catch-all
        };
        // Note that this is run AFTER a more specific event handler
        socket.on("*",function(event,data) {
            console.log('Server event: '+JSON.stringify(event)+'\n    has data:');
            console.log(data);
        });
        </script>

        {% if title %}
        <title>{{ title }} - games.gc.my </title>
        {% else %}
        <title>games.gc.my</title>
        {% endif %}
        {% block head %}{% endblock %}
    </head>
    <body>
        <header class='header'>
            Games.gc.my
            <span align=RIGHT>
            {% if current_user.is_anonymous %}
            <a href="/login">Login</a>
            {% else %}
            Hello, <b>{{ current_user.fullname }}</b>
            <a href="/logout">Logout</a>
            {% endif %}
            </span>
            <hr>
        </header>
            <a href='/pagecount'>PageCount</a>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li>{{message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        <div class='content'>
            {% block content %}{% endblock %}
            <div class='push'></div>
        </div>
        <footer class='footer'>
            Footer
        </footer>
    </body>
</html>
