<html>
    <head>
        <link rel='stylesheet' href='{{ url_for("static",filename="styles/styles.css") }}'>

        {% if title %}
        <title>{{ title }} - games.gc.my </title>
        {% else %}
        <title>games.gc.my</title>
        {% endif %}
        {% block head %}{% endblock %}
    </head>
    <body>
        <header class='header'>
            Games.gc.my 
            <span align=RIGHT>
            {% if current_user.is_anonymous %}
            <a href="/login">Login</a>
            {% else %}
            Hello, <b>{{ current_user.fullname }}</b>
            <a href="/logout">Logout</a>
            {% endif %}
            </span>
            <hr>
        </header>
            <a href='/pagecount'>PageCount</a>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li>{{message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        <div class='content'>
            {% block content %}{% endblock %}
            <div class='push'></div>
        </div>
        <footer class='footer'>
            Footer
        </footer>
    </body>
</html>
